@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") 
    format("truetype");
    font-display: swap;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") 
    format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #232323;
}

/* Desktop style*/

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 24px
}

h1 span {
    color: #9747FF;
}

p, a {
    font-family:"Poppins", sans-serif;
    text-align: center;
    font-size: 24px;
}

p {
    width: 792px;
    margin: 0 auto;
}

a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    background-color:#9747FF;
    border-radius: 36px;
    margin: 40px auto;
    width: 340px;
    height: 66px;
    line-height: 66px;
    font-weight: 600;
}

a:hover {
    background-color:#8233E8;
}

section img {
    display: block;
    width: 793px;
    height: 446px;
    margin: 0 auto;
}

/* Tablet style*/

@media(max-width: 768px){

    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }
}

/* Mobile style*/

@media(max-width: 375px){

    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 341px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}