@font-face {
    font-family: "Unbounded";
    src: url("./fonts/Unbounded-Bold.ttf") 
    format("truetype");
    font-display: swap;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") 
    format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}


:root {
  --roxo-destaque: #9747FF;
  --roxo-hover: #8233E8;

  --texto: #232323;
  --texto-dark: #FFFFFF;

  --fundo: #FFFFFF;
  --fundo-dark: #0E1014; 
}

[data-theme="dark"] {
  --texto: var(--texto-dark);
  --fundo: var(--fundo-dark);
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    transition: color 0.3s, background-color 0.3s;
}

/* Desktop style*/

header {
    display: flex;
    justify-content: space-between;
    margin: 75px 360px 0 360px;
}

header #logo {
    width: 209px;
    height: 34px;
}

.theme__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.theme__button img {
  width: 40px;
  height: 40px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 24px
}

h1 span {
    color: #9747FF;
}

p, a {
    font-family:"Poppins", sans-serif;
    text-align: center;
    font-size: 24px;
}

p {
    width: 792px;
    margin: 0 auto;
}

a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    background-color:#9747FF;
    border-radius: 36px;
    margin: 40px auto;
    width: 340px;
    height: 66px;
    line-height: 66px;
    font-weight: 600;
    transition: background-color 0.3s;
}

a:hover {
    background-color:#8233E8;
}

section img {
    display: block;
    width: 793px;
    height: 446px;
    margin: 0 auto;
}

/* Tablet style*/

@media(max-width: 768px){

    header {
        margin: 65px 60px 0 60px;
    }

    p {
        width: 648px;
    }
}

/* Mobile style*/

@media(max-width: 375px){

    header {
        margin: 32px 16px 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 341px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}